<%= render :partial => 'header' %>
    
<div class='intro_one'>
  how much do you think you can make with your extra time...
</div>

<div class='intro_two'>
  and the things you already own?
</div>

<div class='start'>
  <a href="/start"><nav>Get Started</nav></a>
  <script>mixpanel.track("label");</script>
</div>

<div>
  <%= render :partial => 'footer' %>
</div>

<%= render partial: 'google_analytics' %>
