.twitter{
	margin: 20px;
		color: #33CCCC;
	font-size: 25px;
	font-weight: 500;
}
.companies{
	color: #33CCCC;
	font-size: 25px;
	font-weight: 200;
}
.terms{
	color: black;
	font-size: 25px;
	font-weight: 200;
	margin: 0 100px;
}
.privacy{
	color: black;
	font-size: 25px;
	font-weight: 200;
	margin: 0 100px;
/*}j*/