.pane.a .q{
	margin: 0 0 0 75px;
}
.pane.a .q_one{
	background: #67E667;
	font-size: 36px;
	font-weight: 200;
	padding: 25px 0 25px 10px;
	margin-bottom: 25px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cecece;
}
.pane.b .q_two{
	background: #67E667;
	font-size: 36px;
	font-weight: 200;
	padding: 25px 0 25px 10px;
	margin-bottom: 25px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cecece;
}
.pane.b .q_two ul{
	list-style-type: none;
}
.pane.c .q_three{
	background: #67E667;
	font-size: 50px;
	font-weight: 200;
	padding: 25px 0 25px 10px;
	margin-bottom: 25px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cecece;
}
.pane.d .q_four{
	background: #67E667;
	font-size: 30px;
	font-weight: 200;
	padding: 15px 0 15px 10px;
	margin-bottom: 25px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #cecece;
}
.pane.d .q_four ul{
	list-style-type: none;
}
.button input[type="checkbox"] {
  position: absolute;
}
.button{
  color: black;
}
.button img{
  width: 200px;
}
.button input[type="radio"] {
  position: absolute;
  
}
.button label {
  margin: 5px;
  height: 250px;
  width: 250px;
  display: block;
  float: left;
}

.button.aa label{
  background-image: url(../assets/days.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ba label{
  background-image: url(../assets/days.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ca label{
  background-image: url(../assets/days.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.da label{
	background-image: url(../assets/days.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ea label{
	background-image: url(../assets/days.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ab label{
  background-image: url(../assets/house.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.bb label{
  background-image: url(../assets/house.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.cb label{
  background-image: url(../assets/house.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.db label{
	background-image: url(../assets/house.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ac label{
 	background-image: url(../assets/car.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.bc label{
  background-image: url(../assets/car.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.cc label{
  background-image: url(../assets/car.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ad label{
  background-image: url(../assets/skills.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;

}
.button.bd label{
  background-image: url(../assets/skills.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.cd label{
  background-image: url(../assets/skills.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.dd label{
	background-image: url(../assets/skills.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ed label{
	background-image: url(../assets/skills.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
}

.pane {
  height: 1000px;
}
.pane.a {
  background: white;
}
.pane.b {
  background: white;
}
.pane.c {
  background: white;
}
.pane.d {
  background: white;
}
.pane.d .submit_tag{
	text-align: center;
}

.company_result img{
  width: 220px;
}
.company_result ul{
margin: 0 15%;
}
.submit_tag{
  position: ;
}
