.pane.a .q{
  margin: 0 0 0 75px;
}
.pane.a .q_one,
.pane.b .q_two,
.pane.c .q_three,
.pane.d .q_four {
  background: #67E667;
  font-size: 36px;
  font-weight: 200;
  padding: 25px 0 25px 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #cecece;
  color: white;
  font-weight: 200;
}

.pane.b .q_two ul{
  list-style-type: none;
}
.pane.d .q_four ul{
  list-style-type: none;
}
.button input[type="checkbox"] {
  position: absolute;
}
.button{
  color: black;
}
.button img{
  width: 200px;
}
.button input[type="radio"] {
  position: absolute;
  display: none;
}
.button label {
  background-color: #5e5e5e;
  margin: 5px;
  height: 250px;
  width: 250px;
  display: block;
  float: left;
}

.button.aa label{
  background-image: url(../assets/weekends.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ba label{
  background-image: url(../assets/weeknights.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ca label{
  background-image: url(../assets/days.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.da label{
  background-image: url(../assets/alldays.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.ea label{
  background-image: url();
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ab label{
  background-image: url(../assets/room.png);
  background-size: 250px;
  background-repeat: no-repeat;
}
.button.bb label{
  background-image: url(../assets/apartment.png);
  background-size: 250px;
  background-repeat: no-repeat;
}
.button.cb label{
  background-image: url(../assets/house.png);
  background-size: 250px;
  background-repeat: no-repeat;
}
.button.db label{
  background-image: url();
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ac label{
   background-image: url(../assets/cartwo.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.bc label{
  background-image: url(../assets/carfour.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.cc label{
  background-image: url();
  background-size: 200px;
  background-repeat: no-repeat;
}

.button.ad label{
  background-image: url(../assets/returns.png);
  background-size: 200px;
  background-repeat: no-repeat;

}
.button.bd label{
  background-image: url(../assets/photography.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.cd label{
  background-image: url(../assets/painting.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.button.dd label{
  background-image: url(../assets/shop.png);
  background-size: 200px;
  background-repeat: no-repeat;
}

.pane {
  height: 1000px;
  background: white;
}
.pane.d .submit_tag{
  text-align: center;
}

.company_result img{
  width: 220px;
}
.company_result ul{
  text-align: center;
}
.money{
  color: white;
  font-weight: 200;
}
