<!DOCTYPE html>

<html 
  <head>

  	<title><%= content_for?(:title) ? yield(:title) : "Cowbird" %></title>

  	<%= stylesheet_link_tag "style" %>
  	
  </head>

  <body>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
