<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Cowbird" %></title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,500' rel='stylesheet' type='text/css'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.4.10/jquery.smooth-scroll.min.js"></script>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
