<!DOCTYPE html>
<html lang="en"> 
  <head>
  	<meta charset="utf-8" />

  

  	<title><%= content_for?(:title) ? yield(:title) : "Cowbird" %></title>

  	<%= stylesheet_link_tag    "style" %>
  	
  </head>

  <body>

    <%= yield %>

  </body>
</html>
